/* Universal styles */
* {
    padding: 0;
    margin: 0;
}

html {
    font-family: monospace, 'Courier New', Courier, sans-serif;
    font-size: 16px;
}

body {
    background-color: #3D6799;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}
h3 {
    text-align: center;
    margin-top: 150px;
}

.centerText {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 140px;
}

/* heading styles */
#wrapper {
    background-color: #2972CC;
    position: fixed;
    flex-direction: row;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    z-index: 3;
    justify-content: space-evenly;
}

#wrapper h1 {
    padding-right: 20px;
}


/* Navigation styles */
#navBar {
    height: 50px;
    padding: 5px;
    margin-left: 35px;

}

#navBar ul {
    margin: 0 auto;
    display: inline-flex;


}

#navBar li,
a {
    list-style-type: none;
    text-decoration: none;
    padding: 5px;
    color: #FFFFFF;
    cursor: pointer;

}

#navbar li,
a:hover {
    color: #000000;
}


/* main content */

#intro {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 3em 2em;
    margin-top: 2em;
}






/* table styles */
#tableExample {
    display: block;
    position: relative;
    top: 4em;
    padding: 2.5em;
    flex: 100%;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    #tableExample {
        overflow-x: scroll;
        min-width: 300px;
        min-height: 300px;
    }
}


table,
th,
td {
    border: 1px solid black;
    font-family: monospace, 'Courier New', Courier, sans-serif;
    text-align: center;
}

tr :hover {
    background-color: lightgreen;
}

th,
tfoot {
    background-color: lightgray;
}

td {
    background-color: antiquewhite;
}

.tableTags {
    background-color: lightblue;
}

.tableAtts {
    background-color: lightsalmon;
}
/* CSS Page */


/* comment tips page styles */
#tips {
    background-color: #3D6799;
    text-align: center;
    padding: 3em;
    justify-content: center;
}


#tips h1 {
    padding: 1.40rem;
}

.flexImg {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

/* fixed image resizing issues below */
img {
    max-width: 100%;
    height: auto;
}

p {
    text-align: center;
}

/* footer */
footer {
    display: flex;
    color: #000000;
    position: relative;
    top: 2.5em;
    justify-content: center;
    background-color: #292D33;
    height: 100px;
    width: 100%;
    margin-top: auto;

}

footer p {
    color: #FFFFFF;
    padding-top: 3em;
}